[user]
    name = Toreno96
    email = toreno96@gmail.com
    signingkey = 75FA716CC082C83B
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[push]
    default = simple
[alias]
    diffs = diff --staged
    diffm = diff master
    ss = status --short --branch
    ignored = ! git ss --ignored | grep --color '^!!'
    adog = log --all --decorate --oneline --graph
    checkoutfzf = ! git checkout $(git branch -a | sed 's@remotes/origin/@@' | sort -u | fzf)
    pullr = ! git pull --rebase && echo >&2 'WARNING: `pullr` alias is deprecated, please use `purr`.'
    purr = pull --rebase
    lastash = checkout -p stash@{0}
    logona = log --oneline --no-abbrev
    rs = restore --staged
    pushu = ! git push -u origin $(git branch --show-current)
    pusht = push --tags
    bdiff = ! git diff | colordiff | diff-highlight | less -FR
    bdiffs = ! git diffs | colordiff | diff-highlight | less -FR
    bdiffm = ! git diffm | colordiff | diff-highlight | less -FR
    ddiff = ! git diff | delta | less -FR
    ddiffs = ! git diffs | delta | less -FR
    ddiffm = ! git diffm | delta | less -FR
    # Add all changed tracked files to the index while being verbose about it
    # to allow instant verification of what exactly was added.
    # The mnemonic `ada` comes from [ad]d [a]ll, while also being the tribute
    # to Ada Lovelace.
    ada = add -vu
    comane = commit --amend --no-edit
    findc = ! git log --oneline --all | fzf | cut -d ' ' -f1 | tr -d '\n'
    cm = checkout master
    clearb = ! git branch | grep -v 'master' | xargs -p git branch -D
    changelog-squash = log --pretty='* %B'
    cp = cherry-pick
    mergeff = merge --ff-only
    logss = log --show-signature
    logme = ! git log --author=$(git config user.email)
    comnogpg = commit --no-gpg-sign
    # Outputs the full commit hash of the most recent commit, e.g.
    # `git hash | pbcopy` will copy the most recent commit hash into the system
    # clipboard
    hash = log -1 --pretty=tformat:%H
    rebasec = rebase --continue
    # For fun, borrowed from: https://github.com/maciejkorsan/podlaskigit
    # Relies on the fact that there's no other command or alias starting with
    # `ak`, therefore `ak<TAB>` is enough to run this alias
    akomutopotrzebne = reset HEAD --hard
[merge]
    tool = diffconflicts
    prompt = false
[mergetool]
    keepBackup = false
[mergetool "diffconflicts"]
    cmd = vim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
    trustExitCode = true
[pull]
    rebase = false
[commit]
    gpgSign = true
