!!!!!!!!!!!!
!!! Rofi !!!
!!!!!!!!!!!!

! Enabled modi
rofi.modi:                           combi
! Enable sidebar-mode
rofi.sidebar-mode:                   true
! Set the modi to combine in combi mode
rofi.combi-modi:                     window,run
