!!!!!!!!!!!!
!!! Rofi !!!
!!!!!!!!!!!!

! Enabled modi
rofi.modi:                           combi,run
! Foreground color
rofi.fg:                             #ffffff
! Background color
rofi.bg:                             #1e1e1e
! Background color for alternating row
rofi.bgalt:                          #1e1e1e
! Enable sidebar-mode
rofi.sidebar-mode:                   true
! Set the modi to combine in combi mode
rofi.combi-modi:                     window,session:xfce-session
! Keybinding
rofi.kb-remove-char-back:            BackSpace
! Keybinding
rofi.kb-accept-entry:                Return
! Keybinding
rofi.kb-mode-next:                   Control+l
! Keybinding
rofi.kb-mode-previous:               Control+h
! Keybinding
rofi.kb-delete-entry:                Shift+BackSpace,Shift+Delete
! Keybinding
rofi.kb-row-up:                      Control+k
! Keybinding
rofi.kb-row-down:                    Control+j
