/* `body` and `h1-h3` are heavily based on the:
 * http://bettermotherfuckingwebsite.com/ */
body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    font-family:  "Literata";
}

h1, h2, h3 {
    line-height: 1.2;
    /* Based on: https://standardebooks.org/manual/1.7.3/single-page
     * See e.g.: https://github.com/standardebooks/edgar-rice-burroughs_tarzan-the-terrible/blob/ab37f905ad620764ef36defd6ef90c197e69737f/src/epub/css/core.css */
    font-variant: small-caps;
    text-align: center;
}

h2, h3 {
    /* Force page break before header level 2 and 3 (chapter or subchapter
     * title) when printing or saving as PDF */
    break-before: page;
    /* Force big margin before the start of a new (sub)chapter;
     * based on the Standard Ebooks' CSS */
    margin-top: 12em;
}
h1+h2 {
    /* Reset margin if a new chapter comes immediately after the title */
    margin-top: 0;
}
/* Reset page break and margin if a new subchapter comes immediately after a
 * quote (see Lovecraft's "Call of Cthulhu" */
blockquote+h3 {
    break-before: avoid;
    margin-top: 0;
}

/* Indented paragraphs instead of blank line paragraphs */
p {
    margin: 0;
    text-indent: 1em;
}
/* Do not indent the first paragraph after a heading */
h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
    text-indent: 0;
}

/* Define dinkus */
hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    color: #8c8c8c;
    text-align: center;
    /* Fancy gradient line on the sides of dinkus */
    background-image: linear-gradient(to right, transparent, #8c8c8c, transparent);
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
}
hr:after {
    font-family: "Material Icons";
    /* The most common one: three spaced asterisks in a horizontal row */
    /* Source: https://en.wikipedia.org/wiki/Dinkus */
    content: "* * *";

    /* The historical dinkus: asterism */
    /* Source: https://en.wikipedia.org/wiki/Dinkus */
    /* content: "⁂" */

    /* For Moon Knight fan-fiction: triple crescent moon */
    /* content: "\e3a8\e3a8\e3a8"; */

    /* For Daredevil fan-fiction: a series of colons commonly used in Esperanto Braille punctuation */
    /* Source: https://en.wikipedia.org/wiki/Dinkus#Variations */
    /* content "⠒⠒⠒"; */

    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 24px;
    font-weight: 900;
    padding: 0 0.25em;
    background: white;
}

/* Based on the format I found in the Frank Herbert's "Dune" */
dt {
    font-weight: bold;
    /* font-variant: small-caps; */
}
/* Source: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dl#metadata */
dt::after {
    content: ": ";
}
