[Desktop Entry]
Version=1.0
Type=Application
Name=rofi
Comment=
Exec=rofi -modi combi,drun,session:xfce-session -combi-modi window,run -show session -sidebar-mode
Icon=
Path=
Terminal=false
StartupNotify=false
